<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html  lang="en" ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta charset="utf-8">
  
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script type="text/javascript" src="js/styuapp.js"></script>
  <script type="text/javascript" src="/js/services/StockService.js"></script>
  
   

   <title>StokRoids - NSE Nifty</title>
</head>
<body>
    <div ng-controller="StockListCtrl" class="container">
      <script type="text/javascript" src="/js/controllers/homecontroller.js"></script>
 	    <div class="navbar">
        <div class="navbar-inner">
 	      <div class="brand"><a href="http://stokroids.appspot.com"><img src="images/styu_logo.png"></a></div>
 		     <div><a>Login</a></div>
         Refresh quotes every <select style="font-size:16px" ng-model="refreshRate" ng-options="obj.id as obj.name for obj in refreshRates">    
                   </select>
 	      </div>
 	    </div>

   
	 <div class="portfolio">
          <div>

            <div class="stock row-fluid">
             	
            	<div class="stock-label span1">Logo</div>
            	<div class="stock-name stock-prop span1 stock-label">Company</div>
            	<div class="stock-code stock-prop span2"><div class="stock-label">Stock Code</div></div>
            	<div class="stock-price stock-prop span1" ><div class="stock-label">Last Price</div></div>
            	<div class="stock-value-change stock-prop span1"><div class="stock-label">Day Value Change</div></div>
            	<div class="stock-percentage-change stock-prop span1" ><div class="stock-label">Day % Change</div></div>
            	<div class="stock-updated-dt stock-prop span1" ><div class="stock-label">Updated On</div></div> 
            	<div class="stock-fda stock-prop span1"><div class="stock-label">50 Day Average</div></div>
            	<div class="stock-2da stock-prop span1"><div class="stock-label">200 Day Average</div></div>
          </div>
          	
          		
          			
          		
          	
            
          <div ng-repeat="stock in stocks">
            <div class="stock row-fluid">
             	<div class="stock-prop span1 thumbnails">
            		<a href="#"><img class="stock-img" ng-src="{{stock.logo}}"></a>
            	</div>
            	<div class="stock-name stock-prop span1">{{stock.name}}</div>
            	<div class="stock-code stock-prop span2"><div class="stock-label">{{stock.stock_code}}</div></div>
            	<div class="stock-price stock-prop span1"><div class="stock-label">{{stock.stock_price}}</div></div>
            	<div class="stock-value-change stock-prop span1">{{stock.day_value_change}}</div>
            	<div class="stock-percentage-change stock-prop span1"><div class="stock-label">{{stock.day_percentage_change}}</div></div>
            	<div class="stock-updated-dt stock-prop span1"><div class="stock-label">{{stock.updated_dt}}</div></div> 
            	<div class="stock-fda stock-prop span1"><div class="stock-label">{{stock.fifty_day_average}}</div></div>
            	<div class="stock-2da stock-prop span1"><div class="stock-label">{{stock.two_hundred_day_average}}</div></div>
            </div>
            </div>
    </div>
    
    </div>

    <div class="row">
   		<div class="span2"><a href="#">About Us</a></div>
   		<div class="span2"><a href="#">Contact Us</a></div>
   		<div class="span2"><a href="#">Why StokRoids</a></div>
 		
 	  </div>
  <div>&nbsp;</div>
  <div class="text-center">© 2013 Blanket Inc.</div>
 	
  </div>
</body>
</html>